<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="물 기록장"
        android:supportsRtl="true"
        android:theme="@style/Theme.Waterplant"
        tools:targetApi="31" >
        <activity
            android:name=".ui.calender.CalenderActivity"
            android:exported="false"
            android:label="@string/title_activity_calender"
            android:theme="@style/Theme.Waterplant.NoActionBar" />
        <activity
            android:name=".paint.PaintActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>